<div class="home_cont">
	<header class="cont_title">日常生活里的仪式感</header>
	<section class="HC_cont">
		<h2 class="HC_head">新品首发 <span class="text">甄选限量定制款手工匠作</span></h2>
		<div class="list-four">
    <ul class="clearfix">
      <li class="product-thumb col-md-3  col-xs-6">
        <div class="box">
          <a href="javascript:;">
            <div class="content">
                <img src="//assets.jiangwoo.com/uploads%2F74a326497e4fe3c5c7e0adf5a6195c38_500_500.jpg-new?1" class="img-responsive" alt="可爱浴缸造型厨房餐具">
            </div>
          </a>
          <div class="info">
            <div class="name">
              <a href="javascript:;">可爱浴缸造型厨房餐具</a>
            </div>
            <div class="p">
              <div class="price">
                ￥299
              </div>
              <div class="fav">
                <span class="icon glyphicon glyphicon-heart-empty"></span>1
              </div>
            </div>
            <div class="one ">餐具也可以很“甜蜜”</div>
          </div>
        </div>
      </li>
      <li class="product-thumb col-md-3  col-xs-6">
        <div class="box">
          <a href="javascript:;">
            <div class="content">
                <img src="//assets.jiangwoo.com/uploads%2F8328137183fad6f7ba02dd19a8694ba5_500_500.jpg-new?1" class="img-responsive" alt="“挽回”创意陶瓷情侣杯组">
            </div>
          </a>
          <div class="info">
            <div class="name">
              <a href="javascript:;">“挽回”创意陶瓷情侣杯组</a>
            </div>
            <div class="p">
              <div class="price">
                ￥258
              </div>
              <div class="fav">
                <span class="icon glyphicon glyphicon-heart-empty"></span>1
              </div>
            </div>
            <div class="one ">有故事的咖啡杯与回忆更配</div>
          </div>
        </div>
      </li>
      <li class="product-thumb col-md-3  col-xs-6">
        <div class="box">
          <a href="javascript:;">
            <div class="content">
                <img src="//assets.jiangwoo.com/uploads%2Fa0f4a8a52aae342ed263fa07a968ffbe_500_500.jpg-new?1" class="img-responsive" alt="三叶树收纳餐具">
            </div>
          </a>
          <div class="info">
            <div class="name">
              <a href="javascript:;">三叶树收纳餐具</a>
            </div>
            <div class="p">
              <div class="price">
                ￥299
              </div>
              <div class="fav">
                <span class="icon glyphicon glyphicon-heart-empty"></span>1
              </div>
            </div>
            <div class="one ">诗性与简约设计</div>
          </div>
        </div>
      </li>
      <li class="product-thumb col-md-3  col-xs-6">
        <div class="box">
          <a href="/products/559">
            <div class="content">
                <img src="//assets.jiangwoo.com/uploads%2F5a11f57c774e83e0e76a4fccf0f6730b_500_500.jpg-new?1" class="img-responsive" alt="结婚礼品白色陶瓷金喜对杯">
            </div>
          </a>
          <div class="info">
            <div class="name">
              <a href="/products/559">结婚礼品白色陶瓷金喜对杯</a>
            </div>
            <div class="p">
              <div class="price">
                ￥419
              </div>
              <div class="fav">
                <span class="icon glyphicon glyphicon-heart-empty"></span>0
              </div>
            </div>
            <div class="one ">用尽余生去和你白头到老</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
	</section>
</div>