<footer class="footer">
  <div class="hidden-xs">
    <div class="flex">
      <div class="left">
        <div>
          <div><a class="gray" href="mailto:info@jiangwoo.com">info@jiangwoo.com</a></div>
          <div class="media">
            <div class="clearfix">
              <a class="weixin" href="http://weixin.qq.com/r/FTtQSCvEl3borW8r924H">
                <img src="//assets.jiangwoo.com/weixin.png" alt="微信">
              </a>
              <a class="weibo" href="http://weibo.com/u/5719061488">
                <img src="//assets.jiangwoo.com/weibo.png" alt="微博">
              </a>
            </div>
            <div class="qr-codes">
              <img class="hide weixin-icon" src="//assets.jiangwoo.com/weixin-120.png" alt="关注微信">
              <img class="hide weibo-icon" src="//assets.jiangwoo.com/weibo-120.png" alt="关注微博">
            </div>
          </div>
        </div>
      </div>
      <div class="middle">
        <div>
          <div class="links clearfix">
            <div class="left">
              <a href="/designers/join_us">设计师入驻</a>
            </div>
            <div class="right">
              <a href="/about">关于我们</a>
            </div>
          </div>
          <div class="copyright gray">
            <div>
              Copyright © 2016 北京筑文科技有限公司<br>
              京ICP备18390282号-2<br>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div>
          <div class="phone">400-671-0747</div>
          <div class="time gray">(10:00- 19:00)</div>
          <div class="contact">
            <button class="btn btn-service">在线客服</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container clearfix visible-xs">
    <div class="links left clearfix">
      <a href="/designers/join_us">设计师入驻</a>
      <a href="/about">关于我们</a>
      <a href="/contact">联系我们</a>
    </div>
    <div class="right">
      <div>
        Copyright © 2016 北京筑文科技有限公司<br>
        京ICP备18390282号-2<br>
      </div>
      <div class="media mobile-hide">
      </div>
    </div>
  </div>
</footer>