<header>
  <div class="wrapper clearfix">
    <div class="left">
      <a href="/" class="taplink">
        <div class="header-icon">
        </div>
      </a>
    </div>
    <div class="mobile-hide left">
      <div class="text">现代设计 x 传统工艺</div>
    </div>
    <div class="right">
      <div class="search-box">
        <span class="icon icon-search"></span>
        <input class="search-input" placeholder="搜索商品" type="search">
      </div>
      <div class="links">
        <div class="arrow" style="display: none; left: 616.487px;"></div>
        <a href="/products" class="categories link">商城</a>
        <a href="/spaces" class="link taplink ">空间</a>
        <a href="/blog" class="link">故事</a>
            <a href="/users/log_in" class="link login">登录</a>
      </div>
    </div>
  </div>
</header>