<div class="navbar navbar-inverse navbar-fixed-top header">
      <div class="container">
        <div class="navbar-header ">
            <button class="navbar-toggle collapsed pull-left  " type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs header_logo " href="javascript:;" ui-sref="home" >
              <img src="http://assets.jiangwoo.com/logo-beta-white.png ">
              <span>现代设计 x 传统工艺</span>
            </a>
        </div>
        <div class="navbar-collapse collapse nav_box" role="navigation" aria-expanded="true">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="javascript:;" ui-sref="store">商城</a>
                </li>
                <li><a href="javascript:;" ui-sref="space">空间</a></li>
                <li><a href="javascript:;" ui-sref="story">故事</a></li>
                <li><a href="javascript:;" ui-sref="register">登录</a></li>
            </ul>
        </div>
        <div class="visible-xs header_ren pull-right">
          <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="visible-xs header_title pull-right">
          <span>匠物</span>
        </div>
      </div>
</div>


