<div>
	<nav class="hidden-xs nav_title">
		<a href="javascript:;" ui-sref=".quan" ui-sref-active="active">全部</a>
		<a href="javascript:;" ui-sref=".visitor" ui-sref-active="active">会客</a>
		<a href="javascript:;" ui-sref-active="active">工作</a>
		<a href="javascript:;" ui-sref-active="active">户外</a>
		<a href="javascript:;" ui-sref-active="active">儿童</a>
		<a href="javascript:;" ui-sref-active="active">收纳</a>
		<a href="javascript:;" ui-sref-active="active">装饰</a>
		<a href="javascript:;" ui-sref-active="active">起居</a>
		<a href="javascript:;" ui-sref-active="active">餐饮</a>
	</nav>
	<nav class="visible-xs nav_title nav_two">
		<a href="javascript:;" ui-sref=".fen" >分类</a>
		<a href="javascript:;" ui-sref=".feature"  >功能</a>
		<a href="javascript:;" ui-sref=".texture"  >材质</a>
	</nav>
</div>