.header{
	.navbar-toggle{
		position:relative;
		z-index:1000;
	}
	.header_logo{
		img{
			width:30px;
			display:inline-block;
		}

		span{
			display:inline-block;
			font-size: 12px;
			color:#fff;
		}
	}

	.navbar_btn{
		    opacity: 0;
	}

	.nav_box{
		position:relative;
		z-index:200;
	}
} 
.header_ren{
	position:absolute;
	top:5px;
	bottom:0;
	right:20px;
	line-height: 50px;
	i{
		color:#fff;
		font-size:18px;
	}
}
.header_title{
	position:absolute;
	top:0px;
	bottom:0;
	right:20px;
	left:0;
	line-height: 50px;
	text-align: center;
	color:#fff;
}