@import "reset.css";
body {
  padding-top: 50px;
}
.header .navbar-toggle {
  position: relative;
  z-index: 1000;
}
.header .header_logo img {
  width: 30px;
  display: inline-block;
}
.header .header_logo span {
  display: inline-block;
  font-size: 12px;
  color: #fff;
}
.header .navbar_btn {
  opacity: 0;
}
.header .nav_box {
  position: relative;
  z-index: 200;
}
.header_ren {
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 20px;
  line-height: 50px;
}
.header_ren i {
  color: #fff;
  font-size: 18px;
}
.navbar-brand {
  position: relative;
  z-index: 1000;
}
.header_title {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 20px;
  left: 0;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.home_banner {
  width: 94%;
  margin: 0 auto;
}
.home_banner .item {
  width: 100%;
  overflow: hidden;
}
.home_banner .item img {
  display: blocck;
  width: 100%;
}
.home_cont .cont_title {
  text-align: center;
  line-height: 44px;
  font-size: 18px;
}
.home_cont .HC_head {
  font-weight: bold;
  line-height: 40px;
  font-size: 18px;
  padding-left: 10px;
}
.home_cont .HC_head span {
  font-weight: normal;
  font-size: 14px;
}
.home_cont .clearfix li {
  margin-top: 10px;
}
.home_cont .clearfix li .box > a {
  display: block;
}
.home_cont .clearfix li .box > a .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home_cont .clearfix li .box > a .content img {
  display: block;
}
.home_cont .clearfix .info a {
  font-size: 10px;
  color: #000;
}
.home_cont .clearfix .p {
  display: -webkit-box;
  -webkit-box-pack: justify;
  border-bottom: 1px solid #999;
  line-height: 20px;
}
.home_cont .clearfix .p .price {
  font-weight: bold;
}
.home_cont .clearfix .p .fav {
  font-size: 12px;
  margin-right: 10px;
  color: #999;
}
.home_cont .clearfix .p .fav span {
  margin: 0 5px;
}
.home_cont .clearfix .one {
  font-size: 12px;
  line-height: 30px;
}
.home_cont .cont_footer {
  height: 50px;
  text-align: center;
}
.home_cont .cont_footer button {
  display: inline-block;
  margin-top: 7px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background: #000;
  color: #fff;
}
.footer {
  height: 120px;
}
.footer .footer_da {
  height: 100%;
  width: 100%;
  background: #000;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.footer .footer_da .flex {
  color: #fff;
  width: 90%;
  height: 70%;
  display: -webkit-box;
  -webkit-box-pack: justify;
  margin: 0 auto;
}
.footer .footer_da .flex > div {
  width: 0;
  -webkit-box-flex: 1;
  height: 100%;
  border-left: 1px solid #fff;
  margin-right: -1px;
}
.footer .footer_da .flex > div a {
  color: #fff;
}
.footer .footer_da .flex > div.left {
  border: none;
}
.footer .footer_da .flex > div.left .media a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1px;
  overflow: hidden;
}
.footer .footer_da .flex > div.left .media a:last-child {
  margin-left: 20px;
}
.footer .footer_da .flex > div.left .media a img {
  display: block;
  width: 100%;
}
.footer .footer_da .flex > div.middle > div {
  height: 100%;
  width: 100%;
  background: #000;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.footer .footer_da .flex > div.middle > div .links {
  width: 60%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
}
.footer .footer_da .flex > div.middle > div .gray {
  font-size: 10px;
  text-align: center;
}
.footer .footer_da .flex > div.right {
  height: 100%;
}
.footer .footer_da .flex > div.right > div {
  float: right;
}
.footer .footer_da .flex > div.right > div .gray {
  font-size: 12px;
  color: #666;
  font-weight: bold;
  margin: 10px 0;
}
.footer .footer_da .flex > div.right > div .contact button {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 10px;
}
.footer .footer_xiao {
  height: 100%;
}
.footer .footer_xiao > div {
  width: 100%;
  height: 100%;
  background: #ccc;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.footer .footer_xiao > div .top a {
  font-size: 12px;
  color: #666;
  border-right: 1px solid #999;
  padding: 0 10px 0 9px;
}
.footer .footer_xiao > div .top a:last-child {
  border: none;
}
.footer .footer_xiao > div .bottom {
  margin-top: 10px;
}
.footer .footer_xiao > div .bottom > div {
  text-align: center;
  color: #999;
  font-size: 14px;
}
.store_nav {
  padding: 0 20px;
  border-bottom: 1px solid #cce;
  position: relative;
}
.store_nav .store_navback {
  height: 40px;
}
.store_nav nav {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
}
.store_nav nav.nav_two a {
  width: 31%;
  margin: 0;
  border: 1px solid #ccc;
}
.store_nav nav a {
  float: left;
  margin: 0 20px;
  height: 100%;
  line-height: 38px;
  text-align: center;
  color: #669;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.store_nav nav a.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}
.store_nav nav a.on {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}
.home_cont {
  height: 100%;
}
.home_cont .story_left {
  width: 60%;
}
.home_cont .story_left ul {
  width: 90%;
  margin: 0 auto;
  background: #f8f7f7;
}
.home_cont .story_left ul li {
  padding: 0 16px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
  margin-top: 16px;
  border-radius: 6px;
  background: #fff;
}
.home_cont .story_left ul li .storyCont_title {
  height: 50px;
  padding-top: 10px;
}
.home_cont .story_left ul li .storyCont_title .SCT_left {
  float: left;
}
.home_cont .story_left ul li .storyCont_title .SCT_left dl dt {
  height: 36px;
  width: 36px;
  border-radius: 36px;
  border: 1px solid #ccc;
  overflow: hidden;
  float: left;
}
.home_cont .story_left ul li .storyCont_title .SCT_left dl dt img {
  width: 100%;
}
.home_cont .story_left ul li .storyCont_title .SCT_left dl dd {
  float: left;
  margin-left: 10px;
}
.home_cont .story_left ul li .storyCont_title .SCT_left dl dd h4 {
  font-size: 12px;
  color: green;
}
.home_cont .story_left ul li .storyCont_title .SCT_left dl dd time {
  font-size: 10px;
}
.home_cont .story_left ul li .storyCont_title .SCT_right {
  float: right;
}
.home_cont .story_left ul li .storyCont_title .SCT_right span {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  padding: 2px 6px;
  font-size: 10px;
  color: #999;
}
.home_cont .story_left ul li .storyCont_cont dl dt {
  height: 185px;
  width: 277px;
}
.home_cont .story_left ul li .storyCont_cont dl dt img {
  display: block;
  width: 100%;
}
.home_cont .story_left ul li .storyCont_cont dl dd h4 {
  font-weight: bolder;
  font-size: 20px;
  color: #000;
  line-height: 24px;
  margin: 20px 0 15px;
}
.home_cont .story_left ul li .storyCont_cont dl dd p {
  font-size: 12px;
  line-height: 30px;
  color: #000;
}
.home_cont .story_right {
  position: fixed;
  background: #ccc;
  width: 40%;
  right: 0;
  height: 676px;
  top: 0;
  min-width: 320px;
}
