@import "reset.css";
body {
  padding-top: 50px;
}
.header .header_logo img {
  width: 30px;
  display: inline-block;
}
.header .header_logo span {
  display: inline-block;
  font-size: 12px;
  color: #fff;
}
.header_ren {
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 20px;
  line-height: 50px;
}
.header_ren i {
  color: #fff;
  font-size: 18px;
}
.header_title {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 20px;
  left: 0;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.home_banner {
  width: 94%;
  margin: 0 auto;
}
.home_banner .item {
  width: 100%;
  overflow: hidden;
}
.home_banner .item img {
  display: blocck;
  width: 100%;
}
.home_cont .cont_title {
  text-align: center;
  line-height: 44px;
  font-size: 18px;
}
.home_cont .HC_head {
  font-weight: bold;
  line-height: 40px;
  font-size: 18px;
  padding-left: 10px;
}
.home_cont .HC_head span {
  font-weight: normal;
  font-size: 14px;
}
.home_cont .clearfix li {
  margin-top: 10px;
}
.home_cont .clearfix .info a {
  font-size: 10px;
  color: #000;
}
.home_cont .clearfix .p {
  display: -webkit-box;
  -webkit-box-pack: justify;
  border-bottom: 1px solid #999;
  line-height: 20px;
}
.home_cont .clearfix .p .price {
  font-weight: bold;
}
.home_cont .clearfix .p .fav {
  font-size: 12px;
  margin-right: 10px;
  color: #999;
}
.home_cont .clearfix .p .fav span {
  margin: 0 5px;
}
.home_cont .clearfix .one {
  font-size: 12px;
  line-height: 30px;
}
